{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Confirmação Recebida</title>
    <link rel="stylesheet" href="{% static '/css/confirmar_presenca.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body class="container mt-5">

    <header class="shadow">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'confirmar_presenca' %}">
                    <img src="{% static '/img/logo.png' %}" alt="Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto text-center">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'confirmar_presenca' %}">Voltar para o Início</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="alert alert-success shadow">
        <h4 class="alert-heading">Obrigado por confirmar sua presença!</h4>
        <p>Fico muito feliz com a sua participação! Se precisar alterar algo, entre em contato.</p>
        <a href="{% url 'confirmar_presenca' %}" class="btn btn-primary">Voltar</a>
    </div>
</body>
</html>
